.question-board {
  color: var(--color-accent);
  text-align: center;
  margin-bottom: var(--spacing-lg);

  .question {
    font-family: 'Familiada', sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0;
    line-height: 1.4;
  }

  .placeholder {
    font-size: 2rem;
    letter-spacing: 10px;
  }
}
