.answers-board {
  font-family: 'Familiada', sans-serif;
}

.answer-list {
  list-style: none;
  margin: var(--spacing-md) 0 0;
  padding: 0;
  min-height: calc(6 * (1rem + 2 * var(--spacing-sm)));
}
