<div class="audience-view page-panel">
<ng-container *ngIf="currentRound$ | async as round; else waiting">
    <app-question-board
      [question]="round.question"
      [revealed]="(revealedQuestion$ | async) ?? false"
    />

    <div class="game-arena"
         *ngIf="{ n: (teamNames$ | async)!, p: (penaltyPoints$ | async)!, s: (teamScores$ | async)!, pool: (roundPool$ | async)! } as vm">

      <app-penalty-column [count]="vm.p[0]" />

      <app-answers-board
        [answers]="round.answers"
        [revealedAnswers]="(revealedAnswers$ | async) ?? []"
        [pool]="vm.pool"
      />

      <app-penalty-column [count]="vm.p[1]" />

      <app-teams-summary class="teams-summary-row" [names]="vm.n" [scores]="vm.s" />

    </div>
  </ng-container>

  <ng-template #waiting>
    <div class="waiting">
      <p>Czekaj na start gry...</p>
    </div>
  </ng-template>
</div>
